@model IEnumerable<string>
<div class="sidebar-nav">
    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list text-center">
            <li class="active"><a href="/Articles/List"><i class="icon-bar"></i> All</a></li>
            <li><a href="/Articles/Category/@Model.ElementAt(0)"><i class="glyphicon glyphicon-music"></i> @Model.ElementAt(0)</a></li>
            <li><a href="/Articles/Category/@Model.ElementAt(1)"><i class="glyphicon glyphicon-file"></i> @Model.ElementAt(1)</a></li>
            <li><a href="/Articles/Category/@Model.ElementAt(2)"><i class="glyphicon glyphicon-film"></i> @Model.ElementAt(2)</a></li>
        </ul>
    </div>
</div>