@model IEnumerable<string>
<div class="sidebar-nav">
    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list text-center">
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(item, "List", "Articles", new { tag = item },null)</li>
            }
        </ul>
    </div>

</div>
