
<div class="sidebar-nav">
    <div class="well" style="width:200px; padding: 8px 0;">
        <ul class="nav nav-list text-center">
            <li><a href="/Account/Profile/"><i class="glyphicon glyphicon-music"></i> Профиль</a></li>
            <li><a href="/Account/Profile/Articles"><i class="glyphicon glyphicon-file"></i>Публикации</a></li>
        </ul>
    </div>
</div>