@model FileCabinet.Models.UserProfile

<div id="categories" class="col-md-3">
    @Html.Partial("_ProfileMenu", "Navigation")
</div>
@using (Html.BeginForm())
{
    <div>
        @Html.Action("PartOfProfile", new { user = Model, category = ViewBag.Categ})
    </div>
}